body {
    background-color: black;
}

.lasagna-body {
    background-color: grey;
    
}

.title {
    font-size: xx-large;
    color: black;
    background-color: beige;
    margin: 50px auto;
    margin-left: 40px;
    margin-right: 40px;
    padding: 50px 100px;
    text-align: center;
}

.base-links li {
    margin-bottom: 30px;
    margin-right: 40px;
    list-style-type: none;
    background-color: beige;
    text-align: center;
    font-size: x-large;
    padding: 100px 100px;
}

.recipe-header {
    color: black;
    text-align: center;
    background-color: beige;
    margin: 20px;
    padding: 20px;
}

.lasagna-image, .homepage-link, .Lasagna-ingredient-header {
    text-align: center;
}

.Lasagna-ingredient-header {

}

.ingredient-list li {
    text-align: center;
    list-style-type: none;
    background: beige;
    margin-left: 100px;
    margin-right: 100px;
}

.ingredient-list {
    margin: 20px;
    
}

