body {
    background-color: ;
}

.lasagna-body {
    background-color: grey;
    
}

.title {
    font-size: xx-large;
    color: black;
    background-color: beige;
    margin: 50px auto;
    margin-left: 40px;
    margin-right: 40px;
    padding: 50px 100px;
    text-align: center;
}

.base-links li {
    margin-bottom: 30px;
    margin-right: 40px;
    list-style-type: none;
    background-color: beige;
    text-align: center;
    font-size: x-large;
    padding: 100px 100px;
}

.recipe-header, .apple-recipe-header {
    color: black;
    text-align: right;
    background-color: beige;
    margin-left: 75px;
    padding: 50px;
    
}

.lasagna-wrapper, .recipe-header, .apple-recipe-header {
    display: inline-block;
    vertical-align: middle;
}

.homepage-link {
    text-align: center;
}

.lasagna-wrapper, .apple-pie-image {
    text-align: left;
    margin-left: 200px;
}

.lasagna-wrapper img, .apple-pie-image img {
    height: 500px;
    width: auto;
}

.Lasagna-ingredient-header {
    text-align: center;

}

.ingredient-list li {
    list-style-type: none;
    background: beige;
    padding-bottom: 10px;
    padding-top: 10px;
}

.ingredient-list {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 39px;
    
}

.lasagna-steps-wrap {
    list-style-position: inside;
    text-align: center;
    background-color: beige;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 44px;
    margin-right: 44px;
}
    .lasagna-steps-wrap li {
        padding-bottom: 10px;
        padding-top: 10px;
    }

.apple-pie-header {
    background-color: beige;
    text-align: center;
    text-decoration: underline;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 15px;
    padding-bottom: 4px;
    padding-top: 4px;
}   

.apple-pie-image {
    display: inline-block;
    vertical-align: middle;
}

.apple-recipe-header {
    text-align: center;

}